---
import BasicData from "./PkmnData/BasicData.astro"
import Evolutions from "./PkmnData/Evolutions.astro"
import StatsForNerds from "./PkmnData/StatsForNerds.astro"
import BaseStats from "./PkmnData/BaseStats.astro"
import Weaknesses from "./PkmnData/Weaknesses.astro"
import Abilities from "./PkmnData/Abilities.astro"
import Sprites from "./PkmnData/Sprites.astro"

import extractPkmnData from "../fetching"
const { data } = Astro.props
const pkmn = await extractPkmnData(data)
---
<div id="pkmnData" class="col-8">
  <BasicData pkmn={pkmn}/>
  <StatsForNerds pkmn={pkmn} />
  <BaseStats pkmn={pkmn} />
  <Weaknesses pkmn={pkmn} />
  <Abilities pkmn={pkmn} />
  <Evolutions pkmn={pkmn} />
  <Sprites pkmn={pkmn} />
</div>